.*
*.log
*.pid
*.retry
*.out
*.tgz
*.zip
*.pem
bin/
cache/
tmp/

## Git
!.gitkeep
!.gitignore
!.gitmodules
!.gitattributes

## GitHub
!.github/

## Mise
!.mise.toml

## VSCode
!.vscode/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.default.json

## Lefthook
!.lefthook.yaml

## Editorconfig
!.editorconfig

## Docker
!.dockerignore

## Node
**/node_modules/

## Vitepress
!docs/.vitepress

## Golang
go.work
go.work.sum
!.golangci.yaml
!.goreleaser.yaml
