.*
*.log
*.pid
*.retry
*.out
*.tgz
*.zip
*.pem
bin/
tmp/
cache/

## Git
!.gitkeep
!.gitignore
!.gitmodules
!.gitattributes

## GitHub
!.github/

## Mise
!.mise.toml

## Lefthook
!.lefthook.yaml

## VSCode
!.vscode/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.default.json

## Editorconfig
!.editorconfig

## Golang
go.work
go.work.sum
!.golangci.yml
!.goreleaser.yml

## Vitepress
node_modules/
!docs/.vitepress

## Docker
!.dockerignore
